body {
    background: black;
    background-size: 600% 600%;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#text1 {
    background: linear-gradient(90deg, red, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 300;
    background-size: 300% 300%;
    animation: glow 20s linear infinite;
    color: transparent;
}


/*screen size for mobile*/
@media screen and (max-width:600px) {
    #logindiv {
        width: 400px;
        height: 200px;
        border: none;
        box-shadow: 0 0 3px #00000066;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: relative;
        z-index: 0;
        margin-top: 200px;
    }
    #logindiv::after{
      content: "";
     z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;

    top: 0;
    border-radius: 1%; 
}
    
    #logindiv::before{
          content: "";
    background: linear-gradient(45deg, red, blue, green, pink, aqua, maroon, yellow);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    border-radius: 1%;
    transition: opacity .3s ease-in-out;

    animation: glow 20s linear infinite;
    }

    #loginput {

        width: 200px;
        margin-left: 100px;
        margin-top: 20px;
        color: white;
        height: 30px;
        background-color: transparent;
        border: none;
        border-radius: 3px;
        box-shadow:inset 0 0 3px rgb(36, 162, 194);
    }

    #logbutton {
        
        width: 100px;
        margin-top: 50px;
        margin-left: 150px;
        height: 40px;
        color: white;
        background: transparent;
        border: 0.1px solid black;
        border-radius: 3px;
        box-shadow:inset 0 0 3px rgb(8, 138, 244);
    }

    /*for mainpage*/
    #nav1 {
        margin-top: 50px;
        width: 99%;
        height: 100px;
        box-shadow: 0 0 10px rgb(8, 8, 8);
        border: 4px solid transparent;
        display: flex;

    }

    #about,
    #condact,
    #menu,
    #projects,
    #projectsmob,
    #scocial,
    #exit,
    #exit2 {
        width: 150px;
        margin-left: 7px;
        margin-top: 10px;
        height: 80px;
        border-radius: 5px;
        background: transparent;
        color: rgb(6, 6, 6);
        border: none;
    }

    #about:hover,
    #condact:hover,
    #menu:hover,
    #projects:hover,
    #projectsmob:hover,
    #scocial:hover,
    #exit:hover,
    #exit2:hover {
        box-shadow: 0 0 3px black;

    }

    #close {
        border: 1px solid black;
    }

    #projects {
        width: 100px;
    }

    #hidden {
        display: none;
    }

    #more {
        position: fixed;
        width: 400px;
        height: 400px;
        box-shadow: 0 0 3px rgb(11, 11, 11);
        top: -400px;
        background-color: rgb(241, 238, 238);
        border-radius: 5px;
        border: none;
        transition: 2s;
    }

    #more button {
        margin-top: 20px;
        margin-left: 100px;
        width: 200px;
        color: rgb(22, 20, 20);


        transition: 1ms;
    }

    #details {
        width: 100%;
        height: 800px;
        box-shadow: 0 0 3px black;
        background: rgb(248, 246, 246);
    }

    #details2 {
        background-color: rgb(30, 21, 21);
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin-top: 10px;
        margin-left: 125px;
        box-shadow: 0 0 20px rgb(26, 26, 27);
    }

    #details2 img {
        width: fit-content;
        height: 200px;

    }

    #details3 {
        box-shadow: 0 0 3px rgba(15, 15, 15, 0.34);
        width: 100%;
        margin-top: 25px;
        height: 540px;
    }

    #details3::first-line {
        margin-top: 30px;
        align-items: center;
    }

    #p1 {
        text-align: center;
        align-items: center;
        font-size: 13px;
        margin-top: 10px;
    }
}

#normal {
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
}

#normal::after { 
    content: "";
     z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;

    top: 0;
    border-radius: 100%; 
 
}

#normal::before {
    content: "";
    background: linear-gradient(45deg, red, blue, green, pink, aqua, maroon, yellow);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    border-radius: 100%;
    transition: opacity .3s ease-in-out;

    animation: glow 20s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }


}

/*screen size for laptop*/
@media screen and (min-width:748px) {
    #logindiv {
        width: 400px;
        height: 200px;
        border: none;

        box-shadow: 0 0 3px #00000066;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(90px);
        margin-left: 500px;

        margin-top: 200px;
    }
     #logindiv {
        width: 400px;
        height: 200px;
        border: none;
        box-shadow: 0 0 3px #00000066;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: relative;
        z-index: 0;
        margin-top: 200px;
    }
    #logindiv::after{
      content: "";
     z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;

    top: 0;
    border-radius: 1%; 
}
    
    #logindiv::before{
          content: "";
    background: linear-gradient(45deg, red, blue, green, pink, aqua, maroon, yellow);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    border-radius: 1%;
    transition: opacity .3s ease-in-out;

    animation: glow 20s linear infinite;
    }

    #loginput {
        width: 200px;
        margin-left: 100px;
        margin-top: 20px;
        height: 30px;
        background-color: transparent;
        border: none;
        color:white ;
        border-radius: 3px;
        box-shadow:inset 0 0 3px aqua;
    }

    #logbutton {
        width: 100px;
        margin-top: 50px;
        margin-left: 150px;
        height: 40px;
        background: transparent;
        border: 0.1px solid black;
        color: white;
        border-radius: 3px;
        box-shadow:inset 0 0 3px rgb(7, 130, 237);
    }

    /*mainpage codimg below*/
    #nav1 {
        margin-top: 50px;
        width: 99%;
        height: 100px;
        box-shadow: 0 0 3px black;
        border: 4px solid transparent;
        display: flex;

    }

    #about,
    #condact,
    #menu,
    #projects,
    #projectsmob,
    #scocial,
    #exit,
    #exit2 {
        width: 250px;
        margin-left: 7px;
        margin-top: 10px;
        height: 80px;
        border-radius: 5px;
        background: transparent;
        color: rgb(6, 6, 6);
        border: none;
    }

    #about:hover,
    #condact:hover,
    #menu:hover,
    #projects:hover,
    #projectsmob:hover,
    #scocial:hover,
    #exit:hover,
    #exit2:hover {
        box-shadow: 0 0 3px black;

    }

    #exit {
        margin-left: 200px;

    }

    #more {
        position: fixed;
        width: 400px;
        height: 400px;
        box-shadow: 0 0 3px white;
        top: -400px;
        background-color: rgb(254, 252, 252);
        border-radius: 5px;
        border: none;
        transition: 2s;
    }

    #more button {
        margin-top: 20px;
        margin-left: 100px;
        width: 200px;
        transition: 1ms;
    }

    #details {
        width: 99%;
        height: 800px;
        box-shadow: 0 0 4px #070707;
        display: flex;
        background: rgb(248, 246, 246);
    }

    #details2 {
        background-color: black;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        margin-top: 10px;
        margin-left: 100px;
        box-shadow: 0 0 20px rgb(65, 68, 69);
    }

    #p1 {
        font-size: 16px;
        align-items: center;
        text-align: center;
    }

    #details3 {
        width: 57%;
        margin-top: 10px;
        height: 500px;
        border-radius: 4px;
        margin-left: 30px;
        box-shadow: 0 0 3px black;

    }

}

#nav1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#close {
    background: transparent;
    width: 200px;
    height: 40px;
    border: none;
    box-shadow: 0 0 2px rgb(29, 27, 27);
    color: rgb(8, 6, 6);
    margin-top: 20px;
    margin-left: 100px;

}

#normal {
    height: 50px;
    color: white;
    font-size: 15px;
    background: transparent;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 2px black;
    width: 50px;
}

#rgb {
    height: 50px;
    color: black;
    background: transparent;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 2px black;
    width: 50px;
}